<div class="filter">
  <h2 class="filter__title">Filter</h2>
  <div class="filter__inner">
    <div class="filter__item">
      <div class="filter__name">Gender</div>
      <div class="filter__values">
        <div class="filter__value" *ngFor="let gender of genders" [class.visible]="!gender.visibility"> {{ gender.gender }} <input value="{{ gender.gender }}" [(ngModel)]="gender.checked" (click)="changeCheck($event.target, 'genders')"  type="checkbox"> <span>( {{ gender.counter}} )</span></div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__name">City</div>
      <div class="filter__values">
        <div class="filter__value" *ngFor="let city of cities" [class.visible]="!city.visibility"  > {{ city.address }}  <input value="{{ city.address }}" [(ngModel)]="city.checked" (click)="changeCheck($event.target, 'cities')"   type="checkbox"> <span>({{ city.counter}}) </span></div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__name">Department</div>
      <div class="filter__values">
        <div class="filter__value" *ngFor="let depart of department" [class.visible]="!depart.visibility">{{ depart.department }} <input value="{{ depart.department }}" [(ngModel)]="depart.checked" (click)="changeCheck($event.target, 'departments')"   type="checkbox"> <span>({{ depart.counter}})</span></div>
      </div>
    </div>

  </div>
</div>
