.filter{
  max-width: 1200px;
  margin: 50px 0;
  &__inner{
    display: flex;
    justify-content: flex-start;
  }
  &__item{
    margin-right: 25px;
    padding-right: 25px;
    border-right: 2px solid black;
    &:last-child{
      margin-right: 0;
      border-right: 0px;
      padding-right: 0;
    }
  }
  &__title{}
  &__name{
    color: darkcyan;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__values{
  }
  &__value{
    display: inline-block;
    font-weight: 300;
    margin-bottom: 10px;
    margin-right: 20px;
    &:last-child{
      margin-right: 0px;
    }
  }
  &__visible{
    display: none;
  }
  &__hidden{
    display: none;
  }
  @media(max-width: 1162px){
    &__item{
      padding-right: 5px;
      margin-right: 5px;
    }
    &__value{
      font-size: 14px;
      margin-right: 13px;
    }
  }
  @media(max-width:900px){
    &__item{
      padding-right: 15px;
      margin-right: 15px;
    }
    &__value{
      margin-right: 0;
      display: block;
    }
  }
  @media(max-width:400px){
    &__inner{
      flex-direction: column;
    }
    &__item{
      margin-right: 0;
      padding-right: 0;
      border-right: none;
      border-bottom: 2px solid black;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
  }
}
.visible{
  display: none;
}
