<div class="users">
  <h1 class="users__title">Table of users</h1>
  <app-user-filter [usersArray]="users" [titlesArray]="titles"></app-user-filter>
  <div class="users__block">
    <table class="users__table">
      <tr>
        <th *ngFor="let title of titles">
          {{ title }}
          <div class="users__sortup" [id]="title" (click)="sortByUp(users,$event.target)"></div>
          <div class="users__sortdown" [id]="title" (click)="sortByDown(users,$event.target)"></div>
        </th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.address.city}},<br> {{user.address.street}}</td>
      </tr>
    </table>
  </div>
</div>


